<div style="text-align:center" class="container mt-3">
    
        <h1> Registro Equipo</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SERIAL</th>
                <th scope="col">NUMERO DE LINEA</th>
                <th scope="col">MARCA</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">ESTADO</th>
            </tr>
        </thead>
    </table>

</div>