<div style="text-align:center" class="container mt-3">
    
        <h1> Registro Persona</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">CEDULA</th>
                <th scope="col">TELEFONO FIJO</th>
                <th scope="col">FECHA DE NACIMIENTO</th>
            </tr>
        </thead>
    </table>

</div>