<!--<footer class="page-footer"></footer>

    <div style="text-align:center" class="footer-copyright">
        <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>-->
<div style="text-align:center" class="bg-dark text-white fixed-bottom container" >
    <div class="container">
        © 2019 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
</div>