<div style="text-align:center" class="container mt-3">
    
        <h1> Crear Factura</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">FACTURA NRO</th>
                <th scope="col">NRO LINEA</th>
                <th scope="col">FECHA DE EMISION</th>
                <th scope="col">VALOR FACTURA</th>
            </tr>
        </thead>
    </table>

</div>