<div style="text-align:center" class="container">
    <br>
    <h1> Registro Linea</h1>
<br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">CEDULA</th>
                <th scope="col">TELEFONO FIJO</th>
                
            </tr>
        </thead>
    </table>

</div>